@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@layer base {
  .app {@apply relative min-h-screen h-full flex flex-col ;}
  .viewport {@apply min-h-screen flex flex-col items-center bg-amber-200;}
  .canvas {@apply w-full grow flex flex-col items-center justify-center bg-slate-400;} 

  /* nav {@apply bg-slate-500} */
  main, .main { @apply flex flex-col items-center; }

  a, .a { @apply text-blue-900 underline;}
}



@layer components {}